{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div style="text-align:center; margin-top:50px; font-family:Arial;">
        <h1>Dashboard</h1>
        <p style="font-size:18px; margin-top:20px;">{{ message }}</p>
        <p style="color:gray;">Welcome, {{ username }}!</p>
    </div>
{% endblock %}
